

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="#">AUTOMATIC BOOKKEEPING</a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="#">Global Tax Corporation</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="mailto:kasstechweb@gmail.com">kasstechweb@gmail.com</a>
          </div>
        </div>
    </footer>
