{% extends "layouts/base.html" %}

{% block title %} Upload statement {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" href="/static/assets/Fileinput.less">
{% endblock stylesheets %}

{% block content %}
{% if msg %}
  <script>
    $(document).ready(function() {
      mk.showNotification('top','right', 'danger', '{{ msg | safe }}');
    });
  </script>
{% endif %}  

<div class="row justify-content-md-center">

  <div class="col-md-6">
    <div class="card ">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">format_indent_increase</i>
        </div>
        <h4 class="card-title">Categories Summary</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive table-sales">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Category</th>
                    <th>withdrawn</th>
                    <th>deposited</th>
                    <th>percentage</th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in summary %}
                    <tr id="row_{{ forloop.counter }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ x.0 }}</td>
                        <td>{{ x.1 }}</td>
                        <td>{{ x.2 }}</td>
                        <td><input value="{{x.3}}" id="percentage_{{forloop.counter}}" onchange="change_percentage('{{forloop.counter}}')" class="w-75" type="number" value="100" data-id="{{forloop.counter}}"> %</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-6">

  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">corporate_fare</i>
        </div>
        <h4 class="card-title">{{ company_details.name}}
          <small>- {{ company_details.phone}}</small>
          <p><small>{{ company_details.street}} - {{ company_details.city}} - {{ company_details.province}} - {{ company_details.zip}}</small></p>
        </h4>
      </div>
      <div class="card-body pt-0 m-auto">
        <!-- <h4 class="card-title "></h4> -->
        <p class="card-category">You can edit company details in user profile</p>

        <!-- <p class="card-category">{{ company_details.street}} - {{ company_details.city}} - {{ company_details.province}} - {{ company_details.zip}}</p> -->
        <!-- <a href="{{ gfi_file}}" target="_self" class="btn btn-success"> -->
          <a href="#" target="_self" class="btn btn-primary" onclick="generate_gfi()">
              Generate gfi file
            <div class="ripple-container"></div>
          </a>
          <a id="download_gfi" href="{{ gfi_file }}" target="_self" class="btn btn-success d-none">
            <span class="btn-label">
              <i class="material-icons">download</i>
            </span>
              Download gfi file
            <div class="ripple-container"></div>
          </a>
          <div id="loader" class="ml-auto mr-auto loader d-none"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header card-header-primary">
        <div id="WithdrawnChart" class="ct-chart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title ">Withdrawn Chart</h4>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div id="DepositedChart" class="ct-chart"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title ">Deposited Chart</h4>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card card-chart">
    <div class="card-header pb-0 card-header-primary">
      <div id="multipleBarsChart" class="ct-chart"></div>
      <h4 class="card-title text-center">
        <i class="fa fa-circle redlegend"></i> Withdrawn and
        <i class="fa fa-circle whitelegend"></i> Deposited Chart
      </h4>
    </div>
    <div class="card-body m-auto">
      
    </div>
  </div>
</div>
</div>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">

        <form id="modal_form" class="form-horizontal" action="" method="">
          {% csrf_token %}
          <input type="hidden" name="row_id" id="row_id">
          <input type="hidden" name="original_transaction" id="original_transaction">

          <div class="form-group">
            <input id="transaction" class="form-control" type="text" name="transaction" required="true" placeholder="Transaction"/>
          </div>

          <div class="form-group">
            <select class="selectpicker" id="category" name="category" data-width="100%" data-live-search="true" data-style="btn btn-primary " title="Select Categories">
              {% for cat in categories %}
                <option value="{{ cat.name }}">{{ cat.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <input id="withdrawn" class="form-control" type="text" name="withdrawn" placeholder="withdrawn"/>
          </div>

          <div class="form-group">
            <input id="deposited" class="form-control" type="text" name="deposited" placeholder="deposited"/>
          </div>

          <div class="form-group">
            <input id="balance" class="form-control" type="text" name="balance" required="true" placeholder="balance"/>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-link" onclick="edit_csv_ajax()">
              
              Save
            </button>
            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
          </div>
          <div id="loader" class="ml-auto mr-auto loader d-none"></div>
      </form>

      </div>
    </div>
  </div>
</div> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    var table = $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    });

    // var table = $('#datatable').DataTable();

    // Edit record
    table.on('click', '.edit', function() {
      $tr = $(this).closest('tr');
      var data = table.row($tr).data();
      console.log('You press on Row:-' + data[0] + '-' + data[1] + '-' + data[2] );
      $('#transaction').val(data[1]);
      $('#original_transaction').val(data[1]);

      $('select[name="category"]').find('option[value="'+data[5]+'"]').attr("selected","selected")
      // console.log('option[value="'+data[2]+'"]')
      $('.selectpicker').selectpicker('refresh')

      $('#withdrawn').val(data[2]);
      $('#deposited').val(data[3]);
      $('#balance').val(data[4]);
      $('#row_id').val(data[0]);
      // $("html").removeClass('perfect-scrollbar-on')
      // $('.main-panel').addClass('ps-active-y')
    });

    // $('#myModal').on('hidden.bs.modal', function () {
    //   $("html").addClass('perfect-scrollbar-on')
    // });

    // Delete a record
    table.on('click', '.remove', function(e) {
      $tr = $(this).closest('tr');
      var data = table.row($tr).data();
      table.row($tr).remove().draw();
      e.preventDefault();
      console.log(data[0])
      console.log('You deleted Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      // transaction = data[1];
      // console.log(JSON.stringify(data))
      // var csrftoken = getCookie('csrftoken'); // from https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/#ajax 
      $.ajax({
          type: 'POST',
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          },
          data: {
            id: data[0],
            // transaction: transaction,
            file_name: "{{ file_name }}"
          },
          url: "{% url 'remove_from_csv' %}"
      }).done(function(data) {
          console.log(data.deleted + ' images were deleted');
          location.reload();
      }).fail(function(data) {
          console.log('errors happened: ' + data);
      });
    });

    //Like record
    // table.on('click', '.like', function() {
    //   console.log('You clicked on Like button');
    // });

    
  });
</script>

<script>
    function edit_csv_ajax(){
    row_id = $('#row_id').val();
    transaction = $('#transaction').val();
    original_transaction = $('#original_transaction').val();
    category = $('#category').val()
    withdrawn = $('#withdrawn').val()
    deposited = $('#deposited').val()
    balance = $('#balance').val()
    table = $('#datatables').DataTable();


    // console.log(table.data())
    // console.log(table.data().count())
    // console.log(category)
    $.ajax({
          type: 'POST',
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          },
          data: {
            id: row_id,
            transaction: transaction,
            original_transaction: original_transaction,
            category: category,
            withdrawn : withdrawn,
            deposited : deposited,
            balance : balance,
            file_name: "{{ file_name }}"
          },
          url: "{% url 'edit_csv' %}"
      }).done(function(data) {
          $('#myModal').modal('toggle');
          var rowid = '#row_'+row_id;
          mk.showNotification('top','right', 'success', data.msg);

          // update row when finish editing
          var temp = table.row(row_id-1).data();
          // console.log(temp);
          temp[1] = transaction;
          temp[2] = withdrawn;
          temp[3] = deposited;
          temp[4] = balance;
          temp[5] = category;
          $('#datatables').dataTable().fnUpdate(temp, $('tr'+ rowid), undefined, false);

      }).fail(function(data) {
          console.log('errors happened: ' + data);
      });
  }
</script>

<script>
  function generate_gfi(){
    $('#loader').removeClass('d-none');

  $.ajax({
        type: 'POST',
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        },
        data: {
          new_filename: "{{ new_filename }}",
          summary: "{{ summary | safe }}"
          // file_name: "{{ file_name }}"
        },
        url: "{% url 'generate_gfi' %}"
    }).done(function(data) {
      $('#loader').addClass('d-none');
      $('#download_gfi').removeClass('d-none');
    }).fail(function(data) {
        console.log('errors happened: ' + data);
    });
}
</script>

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    mk.initDashboardPageCharts('{{ summary }}');

    // md.initVectorMap();

    $("#percentage").change(function(){
      console.log("The text has been changed.");
      console.log($(this).data("id"))

      
    });


  });



  function change_percentage(id){
    // console.log("{{ new_filename }}")
    // console.log("{{ media_root }}");
    // console.log(id)
    // console.log($('#percentage_'+id).val());

    $.ajax({
        type: 'POST',
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        },
        data: {
          category: id,
          percentage: $('#percentage_'+id).val(),
          new_filename: "{{ new_filename }}"
          // file_name: "{{ file_name }}"
        },
        url: "{% url 'update_category_summary_percentage' %}"
      }).done(function(data) {
        // $('#loader').addClass('d-none');
        // $('#download_gfi').removeClass('d-none');
        // mk.showNotification('top','right', 'success', data.msg);
        // console.log('doneeeeeeeeeee')
      }).fail(function(data) {
          console.log('errors happened: ' + data);
      });
  }
</script>
{% endblock javascripts %}
