{% extends "layouts/base.html" %}

{% block title %} Upload statement {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" href="/static/assets/Fileinput.less">
{% endblock stylesheets %}

{% block content %}
{% if msg %}
  <script>
    $(document).ready(function() {
      mk.showNotification('top','right', 'danger', '{{ msg | safe }}');
    });
  </script>
{% endif %}  

<div class="row justify-content-md-center">

  <div class="col-mid-10">
    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center">
      <!-- <li class="nav-item">
        <a class="nav-link active success">
          <i class="material-icons">check_circle</i> Upload
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link active success">
          <i class="material-icons">check_circle</i> Upload
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active success">
          <i class="material-icons">check_circle</i> Process
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
          <i class="material-icons">task</i> Missing Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">
          <i class="material-icons">download</i> Download
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link">
          <i class="material-icons">description</i> Categories Report
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">uncategorised transactions, select category for each transaction below</h4>
        <!-- <p class="card-category">Processing your state</p> -->
      </div>
      <div class="card-body">

        <div class="material-datatables">
          <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Transaction</th>
                <th>withdrawn</th>
                <th>deposited</th>
                <th>Balance</th>
                <th>Category</th>
                <th class="disabled-sorting text-right">Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Transaction</th>
                <th>withdrawn</th>
                <th>deposited</th>
                <th>Balance</th>
                <th>Category</th>
                <th class="text-right">Actions</th>
              </tr>
            </tfoot>
            <tbody>
              {% for tr in transactions %}
                {% if tr.5 == 'False' %}
                  <tr id="row_{{ forloop.counter }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ tr.1 }}</td>
                    <td>{{ tr.2 }}</td>
                    <td>{{ tr.3 }}</td>
                    <td>{{ tr.4 }}</td>
                    {% if tr.5 != 'False'%}
                      <td>{{ tr.5 }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    <td class="td-actions text-right">
                      <a href="#" class="btn btn-link btn-info btn-just-icon edit"  data-toggle="modal" data-target="#myModal"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="row">
          <!-- <div class="col-6">
            <a class="btn btn-success" href="{{ file_name_download }}"  target="_self" download="converted_statement">
              <span class="btn-label">
                <i class="material-icons">download</i>
              </span>
              Download excel sheet
            </a>
            <div class="clearfix"></div>
          </div> -->
          <div class="col-md-12">
            <form action="{% url 'download_csv' %}" method="POST" class="post-form">
              {% csrf_token %}
              <input type="hidden" name="file_id" value="{{ file_id }}">
              <input type="hidden" name="bank" value="{{ bank }}">
              <input type="hidden" name="missing_categories" value="skip">

              <button type="submit" class="btn btn-primary pull-right">Download Report</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>

          <div class="col-md-12">
            <form action="{% url 'categories' %}" method="POST" class="post-form">
              {% csrf_token %}
              <input type="hidden" name="file_id" value="{{ file_id }}">
              <input type="hidden" name="bank" value="{{ bank }}">

              <button type="submit" class="btn btn-primary pull-right">Show Categories Report</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      
      </div> <!-- end card body -->
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">

        <form id="modal_form" class="form-horizontal" action="" method="">
          {% csrf_token %}
          <input type="hidden" name="row_id" id="row_id">
          <input type="hidden" name="original_transaction" id="original_transaction">

          <div class="form-group">
            <input id="transaction" class="form-control" type="text" name="transaction" required="true" placeholder="Transaction"/>
          </div>

          <div class="form-group">
            <select class="selectpicker" id="category" name="category" data-width="100%" data-live-search="true" data-style="btn btn-primary " title="Select Categories">
              {% for cat in categories %}
                <option value="{{ cat.name }}">{{ cat.name }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- <div class="form-group">
            <input id="amount" class="form-control" type="text" name="amount" required="true" placeholder="Amount"/>
          </div> -->

          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-link" onclick="edit_csv_ajax()">
              
              Save
            </button>
            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
          </div>
          <div id="loader" class="ml-auto mr-auto loader d-none"></div>
      </form>
      </div>
    </div>
  </div>
</div><!-- end modal -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    var table = $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    });

    // var table = $('#datatable').DataTable();

    // Edit record
    table.on('click', '.edit', function() {
      $tr = $(this).closest('tr');
      var data = table.row($tr).data();
      console.log('You press on Row:-' + data[0] + '-' + data[1] + '-' + data[2] );
      $('#transaction').val(data[1]);
      $('#original_transaction').val(data[1]);

      $('select[name="category"]').find('option[value="'+data[2]+'"]').attr("selected","selected")
      // console.log('option[value="'+data[2]+'"]')
      $('.selectpicker').selectpicker('refresh')

      // $('#amount').val(data[3]);
      $('#row_id').val(data[0]);
      // $("html").removeClass('perfect-scrollbar-on')
      // $('.main-panel').addClass('ps-active-y')
    });

    // $('#myModal').on('hidden.bs.modal', function () {
    //   $("html").addClass('perfect-scrollbar-on')
    // });

    // Delete a record
    // table.on('click', '.remove', function(e) {
    //   $tr = $(this).closest('tr');
    //   var data = table.row($tr).data();
    //   table.row($tr).remove().draw();
    //   e.preventDefault();
    //   console.log(data[0])
    //   console.log('You deleted Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
      
    // });

    //Like record
    // table.on('click', '.like', function() {
    //   console.log('You clicked on Like button');
    // });

    
  });
</script>

<script>
  function edit_csv_ajax(){
    $('#loader').removeClass('d-none');
    row_id = $('#row_id').val();
    transaction = $('#transaction').val();
    original_transaction = $('#original_transaction').val();
    category = $('#category').val()
    // amount = $('#amount').val()
    table = $('#datatables').DataTable();

    // console.log(table.data())
    // console.log(table.data().count())
    // console.log(category)
    $.ajax({
          type: 'POST',
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          },
          data: {
            id: row_id,
            transaction: transaction,
            original_transaction: original_transaction,
            category: category,
            // amount: amount,
            file_name: "{{ file_name }}"
          },
          url: "{% url 'edit_csv_and_dictionary' %}"
      }).done(function(data) {
          $('#myModal').modal('toggle');
          // var rowid = '#row_'+row_id;
          // $("#datatables tbody").find(rowid).remove();
          mk.showNotification('top','right', 'success', data.msg);

          for (let index = 0; index < data.duplicates_ids.length; index++) {
            // console.log(data.duplicates_ids[index]+1)
            var row = '#row_' + (parseInt(data.duplicates_ids[index]) + 1);
            // console.log(row);
            $('#datatables').dataTable().fnDeleteRow(row);
            $("#datatables tbody").find(row).remove();
          } 
          // console.log(data.duplicates_ids)
          $('#loader').addClass('d-none');
      }).fail(function(data) {
          console.log('errors happened: ' + data);
      });
  }
</script>
{% endblock javascripts %}
