{% extends "layouts/base.html" %}

{% block title %} Upload statement {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" href="/static/assets/Fileinput.less">
{% endblock stylesheets %}

{% block content %}
{% if msg %}
  <script>
    $(document).ready(function() {
      mk.showNotification('top','right', 'danger', '{{ msg | safe }}');
    });
  </script>
{% endif %}  

<div class="row justify-content-md-center">

  <div class="col-mid-10">
    <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center">
      <!-- <li class="nav-item">
        <a class="nav-link active success">
          <i class="material-icons">check_circle</i> Upload
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link active success">
          <i class="material-icons">check_circle</i> Upload
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">
          <i class="material-icons">sync</i> Process
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="material-icons">task</i> Missing Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="material-icons">download</i> Download
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="material-icons">description</i> Categories Report
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Process Statement</h4>
        <!-- <p class="card-category">Processing your state</p> -->
      </div>
      <div class="card-body">
        <form action="{% url 'download_csv' %}" method="POST" class="post-form">
          {% csrf_token %}
          <input type="hidden" name="file_id" value="{{ file_id }}">
          <input type="hidden" name="files_ids" value="{{ files_ids }}">
          <input type="hidden" name="bank" value="{{ bank }}">
        <div class="swal2-header">
          <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
          <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);">
          </div>
          <span class="swal2-success-line-tip"></span> 
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div> 
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
        </div>
        {% for file in files_ids %}
          <h2 class="swal2-title" id="swal2-title">Upload Complete! {{ file }}</h2>
        {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary pull-right">Convert to excel sheet</button>
          <div class="clearfix"></div>
        </form>
        
        <script>
          $(document).ready(function() {
              // mk.showSwal('basic')
            });
        </script>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  
{% endblock javascripts %}
