{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if msg %}
  <script>
    $(document).ready(function() {
      mk.showNotification('top','right', 'danger', '{{ msg | safe }}');
    });
  </script>
{% endif %}  

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit {{ current_user.username }} Profile </h4>
                </div>
                <div class="card-body">
                  <form action="" method="" class="post-form">
                    {% csrf_token %}
                    <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" id="username" class="form-control" name="username" value="{{ current_user.username }}" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <input type="email" id="email" class="form-control" name="email" value="{{ current_user.email }}" required>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company Name</label>
                          <input type="text" id="comp_name" class="form-control" name="comp_name" value="{{ user_company.name }}" required>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone</label>
                          <input type="number" id="phone" class="form-control" name="phone" value="{{ user_company.phone }}" required>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Street</label>
                          <input type="text" id="street" class="form-control" name="street" value="{{ user_company.street }}" required>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">City</label>
                          <input type="text" id="city" class="form-control" name="city" value="{{ user_company.city }}" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <!-- <label class="bmd-label-floating">Province</label> -->
                          <select name="province" id="province" class="selectpicker" data-size="7" data-style="select-with-transition " title="Province">
                            <!-- <option disabled selected>Province</option> -->
                            <option value="ON" {%if user_company.province == 'ON' %} selected {%endif%}>Ontario</option>
                            <option value="QC" {%if user_company.province == 'QC' %} selected {%endif%}>Quebec</option>
                            <option value="NS" {%if user_company.province == 'NS' %} selected {%endif%}>Nova Scotia</option>
                            <option value="NB" {%if user_company.province == 'NB' %} selected {%endif%}>New Brunswick</option>
                            <option value="MB" {%if user_company.province == 'MB' %} selected {%endif%}>Manitoba</option>
                            <option value="BC" {%if user_company.province == 'BC' %} selected {%endif%}>British Columbia</option>
                            <option value="PE" {%if user_company.province == 'PE' %} selected {%endif%}>Prince Edward Island</option>
                            <option value="SK" {%if user_company.province == 'SK' %} selected {%endif%}>Saskatchewan</option>
                            <option value="AB" {%if user_company.province == 'AB' %} selected {%endif%}>Alberta</option>
                            <option value="NL" {%if user_company.province == 'NL' %} selected {%endif%}>Newfoundland and Labrador</option>

                          </select>
                          <!-- <input type="text" id="province" class="form-control" name="province" value="{{ user_company.province }}" required> -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Zip</label>
                          <input type="text" id="zip" class="form-control" name="zip" value="{{ user_company.zip }}" required>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone</label>
                          <input type="number" id="phone" class="form-control" name="phone" value="{{ current_user.email }}" required>
                        </div>
                      </div>
                    </div> -->
                      
                    <button type="button" class="btn btn-primary pull-right"  onclick="update_profile_ajax()">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Update Password</h4>
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-category text-gray">
                    {{ current_user.username }}
                  </h6> -->
                  <form>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="left: 0;">New Password</label>
                          <input type="password" id="password" name="password" class="form-control" autocomplete="on" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="left: 0;">Confirm New Password</label>
                          <input type="password" id="confirm_password" name="confirm_password" autocomplete="on" class="form-control" required>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-primary pull-right" onclick="update_password_ajax()">Change Password</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>


          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  function update_profile_ajax(){
    user_id = $('#user_id').val();
    username = $('#username').val();
    email = $('#email').val();
    phone = $('#phone').val();
    comp_name = $('#comp_name').val();
    street = $('#street').val();
    city = $('#city').val();
    province = $('#province').val();
    zip = $('#zip').val();

    // console.log(province)


    $.ajax({
          type: 'POST',
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          },
          data: {
            username: username,
            email: email,
            comp_name: comp_name,
            phone: phone,
            street: street,
            city: city,
            province: province,
            zip: zip,
            user_id: user_id
          },
          url: "{% url 'update_profile' %}"
      }).done(function(data) {
          mk.showNotification('top','right', 'success', data.msg);
          // console.log(data)
      }).fail(function(data) {
          console.log('errors happened: ' + data);
      });
  }



  function update_password_ajax(){
    password = $('#password').val();
    confirm_password = $('#confirm_password').val();
    user_id = $('#user_id').val();

    $.ajax({
          type: 'POST',
          beforeSend: function(xhr, settings) {
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
              }
          },
          data: {
            password: password,
            confirm_password: confirm_password,
            user_id: user_id
          },
          url: "{% url 'update_password' %}"
      }).done(function(data) {
        if (data.status == 400) {
          mk.showNotification('top','right', 'danger', data.msg);
        }else{
          mk.showNotification('top','right', 'success', data.msg);
        }
          // console.log(data)
      }).fail(function(data) {
          console.log('errors happened: ' + data);
      });
  }
</script>

{% endblock javascripts %}
